:root {
    --marginContainers: 20px;

    --gapMainGrid: 0.5rem;
    --gapElementContents: 0.75rem;

    --borderDefault: 1px solid rgb(53, 53, 53);
    --borderBold: 2px solid rgb(0, 0, 0);

    --defaultFontSize: 1.1rem;
    --h1FontSize: 2rem;
    --titleFontSize: 1.5rem;
    --bookNormalFontSize: 1.3rem;
    --bookLargeFontSize: 1.4rem;
}

* {
    font-size: var(--defaultFontSize);
    font-family: sans-serif;
}

input {
    height: 1rem;
    border: var(--borderDefault);
    width: 100%;
}

input[type="checkbox"] {
    width: 1.3rem;
    height: 1.3rem;
    padding: 0px;
    margin: 0px;
}

strong {
    font-size: inherit;
}


body {
    margin: 0px;
    padding: 0px;

    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main {
    flex: 1;
}

h1 {
    margin: var(--marginContainers);

    font-size: var(--h1FontSize);
}


.grid {
    margin: var(--gapElementContents);
    margin-top: 30px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));

    grid-template-rows: 1fr;

    gap: var(--gapMainGrid);
    row-gap: var(--titleFontSize);
}

fieldset, .book {
    margin: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gapElementContents);

    border: var(--borderDefault);
    padding: var(--marginContainers);
    position: relative;
}

legend, .book h2 {
    font-size: var(--titleFontSize);
    font-weight: bold;

    position: absolute;
    top: -0.7em;
    left: 1em;
    padding: 0 0.5em;
    background: white;
    margin: 0;
}

fieldset {
    border: var(--borderBold);

    display: flex;
    flex-direction: column;
}

.divsAdd {
    display: flex;
    gap: var(--gapElementContents);
    justify-content: space-between;
    align-items: center;
}

#sideBySideDivAdd {
    display: flex;
    gap: var(--gapElementContents);
    justify-content: space-between;
}

.inputsDivBook {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.authorBook {
    font-size: var(--bookLargeFontSize);
}

.numberOfPagesBook {
    font-size: var(--bookNormalFontSize);
}

.hasBeenReadDivBook {
    display: flex;
    align-items: center;
    gap: var(--gapElementContents);
}

.hasBeenReadLabelBook {
    font-size: var(--bookNormalFontSize);
}

.deleteButtonBook {
width: min-content;
}

footer {
    padding: var(--marginContainers);
}